[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell
[submodule "bundle/CSApprox"]
	path = bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox
[submodule "bundle/echofunc"]
	path = bundle/echofunc
	url = https://github.com/vim-scripts/echofunc.vim
[submodule "bundle/FindFile"]
	path = bundle/FindFile
	url = https://github.com/vim-scripts/FindFile
[submodule "bundle/gitdiff"]
	path = bundle/gitdiff
	url = https://github.com/vim-scripts/gitdiff.vim
[submodule "bundle/grep"]
	path = bundle/grep
	url = https://github.com/vim-scripts/grep.vim
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule "bundle/ManPageView"]
	path = bundle/ManPageView
	url = https://github.com/vim-scripts/ManPageView
[submodule "bundle/The-NERD-tree"]
	path = bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree
[submodule "bundle/PySmell"]
	path = bundle/PySmell
	url = https://github.com/vim-scripts/PySmell
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/snippetsEmu"]
	path = bundle/snippetsEmu
	url = https://github.com/vim-scripts/snippetsEmu
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/vim-scripts/snippets.vim
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/vim-scripts/surround.vim
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki
[submodule "bundle/ZenCoding"]
	path = bundle/ZenCoding
	url = https://github.com/vim-scripts/ZenCoding.vim
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/vim-scripts/gitv.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = https://github.com/vim-scripts/pylint.vim.git
[submodule "bundle/argtextobj"]
	path = bundle/argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "ipi/calendar-vim"]
	path = ipi/calendar-vim
	url = https://github.com/hotoo/calendar-vim.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/rope-vim"]
	path = bundle/rope-vim
	url = https://github.com/finder/rope-vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/LustyJuggler"]
	path = bundle/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/ctags--Johnson"]
	path = bundle/ctags--Johnson
	url = https://github.com/vim-scripts/ctags.vim--Johnson
[submodule "bundle/OnSyntaxChange"]
	path = bundle/OnSyntaxChange
	url = https://github.com/vim-scripts/OnSyntaxChange
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "bundle/ttagecho_vim"]
	path = bundle/ttagecho_vim
	url = https://github.com/tomtom/ttagecho_vim
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/autoproto"]
	path = bundle/autoproto
	url = https://github.com/vim-scripts/autoproto.vim.git
